{% extends 'layout.html' %}

{% block body %}
    <div class="container mt-5 p-4 border rounded" style="max-width: 500px;">
    <h2 class="text-center mb-4">Mini Blog</h2>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" required>
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </div>
    </form>
  </div>

  <a href="/index" class="btn">Inicio</a>

{% endblock %}